@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #927dfc;
}

.wrr {
  position: relative;
  max-width: 350px;
  width: 100%;
  background: #fff;
  border-radius: 15px;
  padding: 35px 25px;
}

.wrr .password-box {
  position: relative;
  height: 50px;
}
.password-box input {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  padding: 0 45px 0 15px;
  border: 1px solid #aaa;
  background-color: transparent;
}

.password-box .copy-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #707070;
  cursor: pointer;
  font-size: 23px;
  transition: 0.2s;
}

.copy-icon:hover {
  color: #826afb;
}

.wrr .range-box {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.range-box input {
  width: 100%;
  height: 5px;
  accent-color: #826afb;
  cursor: pointer;
}

.range-box .renge-number {
  min-width: 30px;
  text-align: right;
  font-size: 17px;
  color: #707070;
}

.wrr .generate-btn {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  color: #fff;
  background-color: #927dfc;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.generate-btn:hover {
  background-color: #826afb;
}
